input {
    border: 2px solid var( --clr-fg-alt);
    width: 290px;
    border-radius: 5px 5px;
    padding: 8px 5px;
}

#email {
    margin-left: 20px;
}

textarea {
    width: 600px;
    height: 170px;
    border: 2px solid var( --clr-fg-alt);
    border-radius: 5px 5px;
    padding: 15px;
}