.about {
    flex-direction: column;
    margin-top: 8em;
}
  
.about__name {
    color: var(--clr-primary);
}
  
.about__role {
    margin-top: 1.2em;
}

.about__img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
  
.about__desc {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 600px;
}
  
.about__desc,
.about__contact {
    margin-top: 2.4em;
}
  
.about .link--icon {
    margin-right: 0.8em;
}
  
.about .btn--outline {
    margin-right: 1em;
}